.bg-panda-header{
    background-color: #FEEAE9 ;
}
.panda-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;

}
.price{
    color: #FF136F;
}
.input-panda:focus{
    border-color:#FF136F ;
    box-shadow: 0 0 0 0.25rem rgb(255 19 111 / 25%);
   
}